#footer {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 640px) {
  #footer {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}